<!DOCTYPE html>
<html>
  <head>
    <title>Tino WIT</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='public/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="public/javascripts/app.js"></script>
  </head>
  <body ng-app="tinoWIT" ng-controller="MainCtrl">
  	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/#/home" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Tino <p style="color: red; display: inline;"><</p>WIT<p style="color: red; display: inline;">></p></a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/#/aboutus">About Us</a></li>
				<li><a href="/#/tracks">Tracks</a></li>
				<li><a href="/#/blog">Blog</a></li>
				<li><a href="/#/resources">Resources</a></li>
			</ul>
		</div>
	</nav>
	<ui-view></ui-view>
	<footer class="footer">
		<div class="brand">© 2016 Tino WIT</div>
		<div class="contact"><a href=""><img src="public/images/message-closed-envelope.svg"> chswomenintech@gmail.com</a>	|	10500 Finch Ave., Cupertino CA 95014</div>
		<div class="social">
			<a href=""><img src="public/images/facebook.svg"></a>
			<a href=""><img src="public/images/instagram.svg"></a>
		</div>
	</footer>
	<script type="text/ng-template" id="/home.html">
		<div class="row page home-page">
			<h1 class="page-title">
				(Be){<p style="color: red; display: inline;">Wit</p>ty}
			</h1>
  		</div>
		<div class="row page page-description">
			<p>With the advent of new technology in this modern age of innovation, jobs in the computer science
				and programming industries are increasing in astounding numbers. However, the gender gap in the tech industries
				and the negative steorotypes surrounding female tech workers remain a big problem that the society
				continues to tackle today. Together, we can help solve that problem.</p>
			<div class="page-heading">
				Join <p style="color: red; display: inline;">W</p>omen <p style="color: red; display: inline;">I</p>n <p style="color: red; display: inline;">T</p>echnology
			</div>
			<p>Check out what we have to offer</p>
			<a href="/#/aboutus"><button class="btn btn-box">About Us</button></a>
			<a href="/#/tracks"><button class="btn btn-box">Tracks</button></a>
		</div>
		<div class="row page page-info">
			<div class="col-xs-4">
				<div class="page-info-icon"><img src="public/images/code.svg"></div>
				<div class="page-subheading"><a href="">Intro</a></div>
				<p>Have a passion for computers and technology and want to learn how to code but just don't know where to start?
					We have a track for beginners who want to get a basic jumpstart into programming languages like Java and JavaScript.
				</p>
			</div>
			<div class="col-xs-4">
				<div class="page-info-icon"><img src="public/images/desktop.svg"></div>
				<div class="page-subheading"><a href="">Web</a></div>
				<p>Ever contemplated the humble origins of legendary companies like Facebook and the possibility of building your own website from scratch?
					Thanks to our web programming track, you can start learning how to code in HTML, CSS, and JavaScript/jQuery.
				</p>
			</div>
			<div class="col-xs-4">
				<div class="page-info-icon"><img src="public/images/smartphone.svg"></div>
				<div class="page-subheading"><a href="">Mobile</a></div>
				<p>Smartphones, with their ingenious interfaces and electic diversity of applications, have taken the world by a storm.
					If you want to learn how to make your own app on a smartphone using Swift or Java, make sure to check out our mobile app development track.
				</p>
			</div>
		</div>
		<div class="row page page-backdrop">
			<div class="page-heading">
				Don't Miss Out
			</div>
			<div class="page-subheading">
				Get all the latest updates from our meetings
			</div>
			<a href="/#/blog"><button class="btn btn-box">Blog</button></a>
		</div>
	</script>
	<script type="text/ng-template" id="/aboutus.html">
		<div class="row page aboutus-page">
    		<h1 class="page-title">
				<p style="color: red; display: inline;">{</p>Welcome<p style="color: red; display: inline;">}</p>
			</h1>
  		</div>
		<div class="row page page-description">
			<p>Women are still shockingly underrepresented in the STEM industry.<br>
				Out of the <strong>57%</strong> of professional jobs in the 2015 U.S. workforce occupied by women,
				only <strong>25%</strong> of them are part of the computing industry.
				Out of the <strong>56%</strong> of the AP test-takers in 2015 who were female,
				only <strong>22%</strong> of them took AP Computer Science.
				While <strong>59%</strong> of 2015 Intel Science and Engineering Fair finalists in Biology were female,
				only <strong>23%</strong> of 2015 ISEF finalists in Computing categories were female.<br>
				These statistics reflect the growing problem sprouting from the lack of strong female representation in
				the computer science and programming industries.</p>
			<div class="page-heading">
				We Are <p style="color: red; display: inline;">W</p>omen <p style="color: red; display: inline;">I</p>n <p style="color: red; display: inline;">T</p>echnology
			</div>
			<p>Born in the heart of the Silicon Valley, our Women In Technology club at Cupertino High School
				aims to instill in female students the desire and motivation to excel in computer science and technology.
				With tracks consisting of lessons and materials, we provide club members the adequate resources needed
				to learn and master programming languages. In addition, our diverse range of events and activities, from
				hackathons to guest speaker events, allow members to become even more engaged in tech and computer science fields.</p>
		</div>
		<div class="page-subsection teach">
			<h3>Teach</h3>
			<p>Tutor female students at Tino programming language essentials as well as web and mobile app development</p>
			<span class="glyphicon glyphicon-chevron-down"></span>
		</div>
		<div class="page-subsection engage">
			<h3>Engage</h3>
			<p>Encourage and provide opportunities for members to become more active in computer science activities</p>
			<span class="glyphicon glyphicon-chevron-down"></span>
		</div>
		<div class="page-subsection inspire">
			<h3>Inspire</h3>
			<p>Invite female guest speakers from companies like Udacity and Nutanix to describe their job and experiences</p>
			<span class="glyphicon glyphicon-chevron-down"></span>
		</div>
		<div class="row page page-section">
			<div class="page-heading">
				Officer Team
			</div>
			<div class="page-subheading">2016-2017</div>
			<ul class="page-list">
				<li ng-repeat="officer in officers">
					<img ng-src="{{ officer }}">
					<div class="officer-name">{{ officer.name }}</div>
					<div class="officer-position">{{ officer.position }}</div>
					<div class="officer-bio">{{ officer.bio }}</div>
				</li>
			</ul>
		</div>
	</script>
	<script type="text/ng-template" id="/tracks.html">
		<div class="row page tracks-page">
    		<h1 class="page-title">
				<p style="color: red; display: inline;">{</p>Tracks<p style="color: red; display: inline;">}</p>
			</h1>
			<ul class="page-list">
				<li ng-repeat="post in posts">
					<img ng-src="{{ post.image }}">
					<div class="post-title">{{ post.title }}</div>
					<div class="post-time">{{ post.time }}</div>
					<div class="post-preview">{{ post.content }}</div>
				</li>
			</ul>
  		</div>
	</script>
	<script type="text/ng-template" id="/blog.html">
		<div class="row page blog-page">
    		<h1 class="page-title">
				<p style="color: red; display: inline;">{</p>Blog<p style="color: red; display: inline;">}</p>
			</h1>
			<div class="blogs">
				<ul class="page-list">
					<li ng-repeat="post in posts">
						<img ng-src="{{ post.image }}">
						<div class="post-title">{{ post.title }}</div>
						<div class="post-time">{{ post.time }}</div>
						<div class="post-preview">{{ post.content }}</div>
					</li>
				</ul>
			</div>
  		</div>
	</script>
	<script type="text/ng-template" id="/resources.html">
		<div class="row page">
    		<h1 class="page-title">Resources</h1>
  		</div>
		<div class="row page">
			<div>Icons made by
				<a href="http://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
				<a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
				<a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
				<a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
				<a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
				<a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
				<a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
			</div>
		</div>
	</script>
  </body>
</html>