@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

body {
  padding: 0px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #000;
}

a:hover, a:active, a:focus {
	color: red;
	text-decoration: none;
}

.row {
	margin: 0px;
}

.navbar {
	z-index: 2;
	position: fixed;
	background: #fff;
	border-radius: 0px;
	width: 100%;
	margin: 0px;
	padding: 10px;
}

.navbar a {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.col-xs-4 {
	text-align: center;
	font-size: 1.5em;
	color: #000;
	text-transform: uppercase;
}

.btn-box {
	font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: none;
	padding: 10px 30px;
	margin: 10px;
	color: #fff;
	border: 3px solid #fff;
}

.btn-box:hover, .btn-box:active, .btn-box:focus {
	color: red;
	border: 3px solid red;
}

.page-title {
	position: relative;
	top: 80px;
	font-size: 64pt;
	font-family: "Courier New";
	font-weight: bold;
	text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
}

.title-animation div {
	animation: type 2s steps(60, end);
}

.title-animation div:nth-child(2){
  animation: type2 4s steps(60, end);
}

.title-animation span {
	animation: blink 1s infinite;
}

.page-section-title {
	font-size: 28pt;
	font-family: "Courier New";
	font-weight: bold;
	text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px;
    color: #fff;
}

.page {
	position: relative;
    top: 75px;
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.page-contact {
	background: #000;
}

.home-page {
	height: 500px;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/desk-workspace.jpg");
}

.aboutus-page {
	height: 300px;
	background-image: url("../images/coding.jpg");
}

.page-info {
	padding: 40px;
	background: #fa9090;
	letter-spacing: 2px;
}

.page-info .page-info-icon {
	display: block;
	width: 150px;
	height: 150px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 20px solid #fff;
	border-radius: 50%;
}

.page-info img {
	width: 100px;
	height: 100px;
}

.page-info .page-info-heading {
	margin: 40px;
}

.page-info .page-info-heading a {
	padding: 10px;
	border-bottom: 5px solid #fff;
}

.page-info a:hover, .page-info a:active, .page-info a:focus {
	border-bottom: 5px solid red;
}

.page-info p {
	font-size: 0.75em;
	text-transform: none;
	line-height: 18pt;
}

.page-description {
	padding: 40px;
	background: #fff;
	letter-spacing: 2px;
	text-align: center;
	line-height: 16pt;
}

.page-description .page-description-heading {
	font-size: 2em;
	text-transform: uppercase;
	padding: 10px;
}

.page-description p {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.page-description button {
	color: #000;
	border: 3px solid #000;
}

.page-backdrop {
	height: 300px;
	padding: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/designer-workspace.jpg");
	background-position: 0% 45%;
	line-height: 26pt;
	letter-spacing: 2px;
	text-align: center;
}

.page-backdrop .page-backdrop-heading {
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
}

.page-backdrop .page-backdrop-subheading {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	color: #fff;
	padding: 10px;
}