body {
  padding: 0px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #000;
}

a:hover, a:active, a:focus {
	color: red;
	text-decoration: none;
	background: none;
}

.row {
	margin: 0px;
}

.navbar {
	z-index: 2;
	position: fixed;
	background: #fff;
	border-radius: 0px;
	width: 100%;
	margin: 0px;
	padding: 10px;
}

.navbar a {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 5px;
}

.navbar li a:hover, .navbar li a:active, .navbar li a:focus {
	background: #fff;
	margin-bottom: 0px;
	border-bottom: 5px solid red;
}

.footer {
	position: relative;
	top: 75px;
	padding: 25px 40px;
	background: #fff;
}

.footer div {
	display: inline-block;
}

.footer img {
	height: 25px;
	width: 25px;
}

.footer .brand {
	text-transform: uppercase;
}

.footer .contact {
	position: absolute;
	right: 140px;
}

.footer .social {
	float: right;
}

.col-xs-4 {
	text-align: center;
	font-size: 1.5em;
	color: #000;
	text-transform: uppercase;
}

.btn-box {
	font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: none;
	padding: 10px 30px;
	margin: 10px;
	color: #fff;
	border: 3px solid #fff;
}

.btn-box:hover, .btn-box:active, .btn-box:focus {
	color: red;
	border: 3px solid red;
}

.page-title {
	position: relative;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 64pt;
	font-family: "Courier New";
	font-weight: bold;
	text-transform: uppercase;
    color: #fff;
	white-space: nowrap;
	overflow: hidden;
}

.home-page .page-title {
	border-right: .1em solid;
	width: 11ch;
	animation: typing 5s steps(11, end),
	           blink-caret .5s step-end infinite alternate;
}

.aboutus-page .page-title {
	border-right: .1em solid;
	width: 9ch;
	animation: typing 5s steps(9, end),
	           blink-caret .5s step-end infinite alternate;
}

.tracks-page .page-title {
	border-right: .1em solid;
	width: 8ch;
	animation: typing 5s steps(8, end),
	           blink-caret .5s step-end infinite alternate;
}

.blog-page .page-title {
	border-right: .1em solid;
	width: 6ch;
	animation: typing 5s steps(6, end),
	           blink-caret .5s step-end infinite alternate;
}

@keyframes typing { from { width: 9px; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

.page {
	position: relative;
    top: 75px;
	width: 100%;
	text-align: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.page-section {
	padding: 40px;
	letter-spacing: 2px;
	background: #000;
}

.page-section .page-heading {
	font-size: 2em;
	text-transform: uppercase;
	padding: 10px;
	color: #fff;
}

.page-section .page-subheading {
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 10px;
	color: #fff;
}

.page-list {
	list-style: none;
}

.page-section .page-list {
	color: #fff;
}

.page-section .page-list img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.page-section .officer-name {
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 10px;
}

.page-section .officer-position {
	font-size: 1.25em;
}

.page-section .officer-bio {
	line-height: 16pt;
}

.home-page {
	height: 500px;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/desk-workspace.jpg");
}

.aboutus-page {
	height: 400px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/coding.jpg");
}

.tracks-page {
	height: 250px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/programming.jpg");
}

.blog-page {
	height: 250px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/blog.jpg");
}

.page-info {
	padding: 40px;
	background: #fa9090;
	letter-spacing: 2px;
	color: #000;
}

.page-info .page-info-icon {
	display: block;
	width: 150px;
	height: 150px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 20px solid #fff;
	border-radius: 50%;
}

.page-info .page-info-icon img {
	width: 100px;
	height: 100px;
}

.page-info .page-heading {
	font-size: 2em;
	text-transform: uppercase;
	padding: 10px;
	color: #000;
}

.page-info .page-subheading {
	font-size: 1.25em;
	text-transform: uppercase;
	padding: 10px;
	color: #000;
}

.page-info .number {
	display: inline-block;
	font-size: 2em;
	color: #fff;
}

.page-info .page-subheading a {
	padding: 10px;
	border-bottom: 5px solid #fff;
}

.page-info .page-subheading a:hover, .page-info .page-subheading a:active, .page-info .page-subheading a:focus {
	border-bottom: 5px solid red;
}

.page-info p {
	margin-top: 20px;
	font-size: 0.75em;
	text-transform: none;
	line-height: 16pt;
}

.page-description {
	padding: 40px;
	background: #fff;
	letter-spacing: 2px;
	text-align: center;
	line-height: 16pt;
}

.page-description .page-heading {
	font-size: 2em;
	text-transform: uppercase;
	padding: 10px;
}

.page-subsection {
	position: relative;
    top: 75px;
	height: 200px;
	margin: 20px 0px;
	padding: 10px;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	line-height: 16pt;
}

.page-subsection span.glyphicon {
	font-size: x-large;
}

.page-subsection.teach {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/classroom.jpg");
	background-repeat: no-repeat;
	background-position: 0% 75%;
	background-size: 100%;
}

.page-subsection.engage {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/technovation.jpg");
	background-repeat: no-repeat;
	background-position: 0% 75%;
	background-size: 100%;
}

.page-subsection.inspire {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/public-speaking.jpg");
	background-repeat: no-repeat;
	background-position: 0% 75%;
	background-size: 100%;
}

.page-subsection h3 {
	text-transform: uppercase;
	padding: 20px;
	margin-bottom: 0px;
}

.page-description p {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.page-description button {
	color: #000;
	border: 3px solid #000;
}

.page-backdrop {
	height: 300px;
	padding: 40px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/designer-workspace.jpg");
	background-position: 0% 40%;
	line-height: 26pt;
	letter-spacing: 2px;
	text-align: center;
}

.page-backdrop .page-heading {
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
}

.page-backdrop .page-subheading {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	color: #fff;
	padding: 10px;
}